.card {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-gray-80);
  background-color: light-dark(var(--color-gray-98), var(--color-gray-40));
  padding: 1rem 0.5rem;
  margin-block-end: 1rem;

  box-shadow: 0 0 10px var(--color-gray-10);

  .topSection {
    display: flex;
    gap: 1rem;
    align-items: center;

    .cardInfo {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
    }

    .userImage {
      object-fit: cover;
      border: 3px solid var(--color-primary);
      border-radius: 50%;
    }

    .userInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      gap: 1rem;
      width: 100%;
      padding-inline: 0.3125rem 1rem;

      .username {
        font-size: 1.25rem;
      }
    }
  }

  .address {
    display: flex;
    gap: 0.3125rem;
    margin-block: 1rem;
  }

  .badges {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    > p {
      padding: 0.2rem 0.5rem;
      border: 1px solid var(--color-gray-70);
      border-radius: var(--border-radius);
    }
  }

  .appointment {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    > span {
      color: var(--color-gray-10);
      font-weight: 900;
      margin-right: 0.2rem;
    }
  }

  .bookButton {
    display: block;
    padding: 0.5rem 1rem;

    background-color: var(--color-primary);
    color: var(--color-primary-contrast);

    border: 1px solid currentColor;
    border-radius: var(--border-radius);

    cursor: pointer;

    text-align: center;
    font-weight: 800;

    &:hover {
      background-color: var(--color-primary-dark);
      color: var(--color-primary-opposite);
    }
  }
  .disabled {
    background-color: var(--color-gray-30);
    color: var(--color-gray-40);
    cursor: not-allowed;
  }
}
