.filter-container {
  background-color: light-dark(var(--color-gray-98), var(--color-gray-30));
  box-shadow: 0 0 10px var(--color-gray-10);
  padding: 0.6rem;
  border-radius: var(--border-radius);

  .divider {
    background-color: var(--color-gray-20);
    margin-block: 0.2rem 1rem;
    block-size: 2px;
  }

  .filter-options {
    margin-block: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
