.loading,
.notFound {
  margin: 5rem auto;
  text-align: center;
  width: 750px;
}

.doctor-container {
  width: 750px;
  .pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block: 1rem;

    .paginationBtn {
      padding: 0.1rem 0.6rem;
      border-radius: 50%;

      border: none;
      cursor: pointer;
      &.active {
        background-color: var(--color-primary);
      }
    }
  }
}
