.rating {
  margin-block: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 9rem;

  .ratingContent {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: 1px solid var(--color-gray-70);
    border-radius: var(--border-radius);

    padding: 0.125rem 0.25rem;
    margin-left: 0.5rem;

    background-color: var(--color-gray-70);
  }

  .average {
    margin-inline: 0.25rem 0.5rem;
    color: var(--color-primary);
  }

  .totalVotes {
    color: light-dark(var(--color-gray-10), var(--color-primary-contrast));
  }
}

.flexEnd {
  justify-content: flex-end;
}
