.expertise-filter {
  overflow: auto;
  max-block-size: 20rem;
  scrollbar-width: thin;

  > li {
    button {
      font-size: calc(0.75rem + 2px);
      background-color: transparent;
      inline-size: 100%;
      border: none;
      padding: 0.25rem 0.5rem;
      text-align: start;
      cursor: pointer;
      &:hover {
        border: 1px solid light-dark(var(--color-gray-10), var(--color-gray-80));
        border-radius: var(--border-radius);
      }
    }
  }
}
